<div class="wow fadeIn d-flex justify-content-center">
    
    
    
    <div class="res col-md-6">
        <button class="btn back_button"> Back </button>
        <div class="res_header" data-img="{{ artist.img }}">
            
        </div>

        <div class="res_info">
            <h1>{{ artist.name }}</h1>
            <h3>{{ artist.header }}</h3>
            <p>{{ artist.description }}</p>
        </div>
    </div>
</div>

<script>
    var header = $('.res_header');
    var img = $('.res_header').attr('data-img');
    header.css('background-image', '{{ url_for("static", filename="uploads/"+ artist.img+".jpg")}}')
</script>